:root {
    color: #ffffff;
    --ss-blue1: #5865f2;
    --ss-blue3: #ffffff;
    --ss-blue5: #ffffff;
    --ss-blue6: #5865f2;
    --ss-yolk: #000000;
    --ss-lightoverlay: radial-gradient(#ffffff, #5865f2);
}
